# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.env
myenv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data / Models (exclude ONNX)
*.onnx
*.h5
*.pt
*.bin

# Docker
*.log

# OS files
.DS_Store
Thumbs.db
